<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page for Bloccit.</p>

<div class="posts">Post 1 goes here.</div>
<div>Post 2 goes here.</div>

<section class="posts">I am the content in a section element.</section>

<pre>
  &lt;p&gt;Sample text here...&lt;/p&gt;
</pre>